use flake --impure

export ROOT_DATABASE_URL="socket://postgres@$PGHOST?port=$PGPORT&db=postgres"
export DATABASE_URL="socket://postgres@$PGHOST?port=$PGPORT&db=mergestat"
export SHADOW_DATABASE_URL="socket://postgres@$PGHOST?port=$PGPORT&db=mergestat-shadow"
